{% extends 'base.html.twig' %}

{% block title %}Hello NewsletterController!{% endblock %}

{% block main %}
    <section class="ftco-section ftco-no-pt ftco-no-pb pt-5 bg-light">
        <div class="container py-4">
            {% for message in app.flashes('danger') %}
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger text-center" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="d-flex justify-content-center" >
                    <div class="alert alert-success" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <div class="row d-flex justify-content-center py-5">
                <div class="col-lg-6 mb-5">
                    <h2 style="font-size: 22px;" class="mb-0">Souscrire à notre newsletter c'est:</h2>
                    <div>- Recevoir nos dernières offres spéciales</div>
                    <div>- Connaitre nos producteurs</div>
                    <div>- Se tenir au courant des nouveautés</div>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">


                    <form action="{{ path('newsletter_add') }}" method="post" class="Suscribe">
                        {{ form_start(newsletterForm) }}
                        <div class="form-group d-flex justify-content-between">
                            <span>     {{ form_row(newsletterForm.mail) }}</span>

                            <span> <input type="submit" value="SOUSCRIRE" class="submit px-3"></span>

                        </div>
                        {{ form_end(newsletterForm) }}

                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
