{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div id="maCarte">
    </div>
    <section class="ftco-section ftco-degree-bg">

        <div class=" ftco-animate">

            <!--------------------------------

            Coordonnées du producteur

            ----------------------------------->


            <div class="container mb-5">

                <hr/>
                <div class="d-flex justify-content-center align-items-end mb-3">
                    <span> <img src="{{ asset('images/ferme.png') }}" width="70" alt="ferme"
                                class="img-fluid mr-3"></span>
                    <span>   <h2 class="mb-3">{{ producteur.company }}</h2></span>

                </div>
                <hr/>

                <section class="row my-5">

                    <div class="col-md-4">

                        <p>Téléphone : {{ producteur.phone }}</p>
                        <p>Contact : {{ producteur.email }}</p>
                    </div>
                    <div class="col-md-4">
                        <p>Adresse : {{ producteur.adress }}</p>
                        <p>Code postal: {{ producteur.postalCode }}</p>

                    </div>
                    <div class="col-md-4">
                        <p>Ville : {{ producteur.city }}</p>
                    </div>
                </section>
            </div>

            <!--------------------------------

                     Produits

             ----------------------------------->
            <section class="container mt-5">
                <hr/>
                <h3 class="text-center">Produits</h3>
                <hr/>
                <div class="row">
                    {% for produit in produits %}
                        <div class=" col-6 col-md-4 col-lg-3 selection-item filter-legume ftco-animate">

                            <div class="product bordure ">
                                {% if produit.FeaturedImage != null %}
                                    <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                                class="img-fluid"
                                                src="{{ vich_uploader_asset(produit, 'imageFile')| imagine_filter('carre') }}"
                                                alt="{{ produit.title }}">
                                        <span class="status"><i class="ion-ios-add"></i></span>
                                        <div class="overlay"></div>
                                    </a>
                                {% else %}
                                    <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                                class="img-fluid"
                                                src="{{ asset('images/Logo-produit.png')}}"
                                                alt="Image du produit">
                                        <span class="status"><i class="ion-ios-add"></i></span>
                                        <div class="overlay"></div>
                                    </a>
                                {% endif %}
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ produit.title }}</a></h3>
                                    <div>
                                        {% for t in produit.tags %}
                                            <em class="small">{{ t.name }}</em>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                        class="price-sale">{{ produit.price }}€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a href="{{ path('wishlist_add', {'id': produit.id}) }}"
                                                   class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span data-toggle="tooltip" title="Ajouter à la liste de courses"><i
                                                            class="ion-ios-list"></i></span>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('cart_add', {'id': produit.id}) }}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span data-toggle="tooltip" title="Ajouter au panier"><i
                                                            class="ion-ios-basket"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section> <!-- Fin produits -->
        </div>
    </section> <!-- .section -->

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <script>
        // On initialise la carte
        var carte = L.map('maCarte').setView([{{producteur.latitude}}, {{producteur.longitude}}], 11);
        // On charge les "tuiles"
        L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
            // Il est toujours bien de laisser le lien vers la source des données
            attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
            minZoom: 1,
            maxZoom: 20
        }).addTo(carte);

        // On personnalise le marqueur
        var icone = L.icon({
            iconUrl: "{{ asset('images/icone.png') }}",
            iconSize: [50, 50],
            iconAnchor: [25, 50],
            popupAnchor: [0, -50]
        })


        var marqueur = L.marker([{{producteur.latitude}}, {{producteur.longitude}}], {icon: icone}).addTo(carte);
        marquer.bindPopup("<p>Paris<p/>")
    </script>


{% endblock %}
