{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread mb-5" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Producteurs</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="ftco-section ftco-degree-bg">
        <div class="container">
            <div class="row">
                {% for producteur in producteurs %}
                    <div class="col-lg-4 col-md-6 ftco-animate mb-5">
                        <div class=" d-flex justify-content-center ftco-animate">
                            <div class="">

                                {% for image in images %}

                                    {% if producteur.id == image.producteur %}
                                        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('producteur')}}" alt="Image-producteur">
                                {% set test = true %}
                                {% elseif  loop.last and test == false %}
                                    <img src="{{ asset('images/image_1.jpg')| imagine_filter('producteur')}}" alt="Image-alternative" >
                                {% endif %}
                                {% endfor %}
                                {% set test = false %}

                                <div class="text d-block pl-md-4">
                                    <h3 class="heading"><a
                                                href="{{ path('producteur_detail', {id: producteur.id} ) }}">{{ producteur.company }}</a>
                                    </h3>

                                    <p>localisation: <strong>{{ producteur.city }}</strong></p>
                                    <p><a href="{{ path('producteur_detail', {id: producteur.id} ) }}"
                                          class="btn btn-primary py-2 px-3">En savoir plus</a></p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- .col-md-8 -->
                {% endfor %}
                {#                {{ vich_uploader_asset(image, 'imageFile') }}#}
            </div>
        </div>
    </section> <!-- .section -->

{% endblock %}
