{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <h1>Ventes fait par {{app.user.username}}</h1>
    <h6>Credit restant: {{ app.user.credit.amount }}  € </h6>



    <table class="table">
        <thead>
        <tr>
            <th>Nom du produit</th>
            <th>Prix du produit</th>
            <th>Quantité vendu</th>
            <th>Vendeur</th>
            <th>commande.id</th>
            <th>Date de l'achat du produit</th>
            <th>prixTotal</th>
        </tr>
        </thead>
        {% for ligne in lignes %}
            <tbody>
            <tr>
                <th>{{ ligne.produit.title }}</th>
                <th>{{ ligne.produit.price }} €</th>
                <th>{{ ligne.quantite }}</th>
                <th>{{ ligne.produit.seller.firstname }}</th>
                <th>{{ ligne.commande.id }}</th>
                <th>{{ ligne.commande.dateCommande|date('d/m/Y') }}</th>
                <th>{{ ligne.produit.price * ligne.quantite }} €</th>
            </tr>
            </tbody>

        {% endfor %}
    </table>

{% endblock %}

