{% extends 'base.html.twig' %}

{% block body %}
    {% block main %}

<section class="container mb-5" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">

    <section class="d-md-flex justify-content-between">
        <div class="px-5 pt-5 d-flex justify-content-start">
                <span class="pt-3 pr-4">
                    <i class="icon-user-circle-o"
                       style="font-size: 70px; color:#4aa599;"></i>
                </span>
            <span>
        <h1 class="pb-0">S'inscrire à la boutique</h1>
        <h6 style="color:#ABC973;">Créez un  compte producteur</h6>
    </span>
        </div>
        <div class="pt-md-5">
            <a href="{{ path('prod_login') }}" class="btn btn-primary ml-4 mt-5 text-center"> Vous avez déjà un compte? Connectez-vous
                ici!</a>

        </div>
    </section>
    <div class="p-5">
        {{ form_start(producteurForm) }}
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.civility) }}</span>
        </div>
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.lastname) }}</span>
            <span class="col-md-6">    {{ form_row(producteurForm.firstname) }}</span>
        </div>
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.username) }}</span>
            <span class="col-md-6">    {{ form_row(producteurForm.company) }}</span>
        </div>
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.siret) }}</span>
            <span class="col-md-6">    {{ form_row(producteurForm.kBis) }}</span>
        </div>
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.email) }}</span>

            <span class="col-md-6">    {{ form_row(producteurForm.phone) }}</span>
        </div>
        <div class="row">
            <span class="col-md-6">    {{ form_row(producteurForm.email) }}</span>

            <span class="col-md-6">    {{ form_row(producteurForm.phone) }}</span>
        </div>
        <div class="row">
            <span class="col">    {{ form_row(producteurForm.adress) }}</span>
        </div>


        <div class="row">
            <span class="col-md-4">    {{ form_row(producteurForm.postalCode) }}</span>

            <span class="col-md-8">    {{ form_row(producteurForm.city, { 'attr': {'autocomplete': 'off'} }) }}</span>
        </div>


        <div class="row">
            <span class="col">    {{ form_row(producteurForm.password) }}</span>
        </div>
    {{ form_rest(producteurForm) }}
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Créer un compte</button>
    </div>
        {{ form_end(producteurForm) }}
    </div>
</section>
<p >Selected: <strong id="address-value" >none</strong></p>
<div class="row">
    {% endblock %}


{% endblock %}

{% block title %}

{% endblock %}

