{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center">Mon panier</h1>
    <section class="ftco-section ftco-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-list">
                        {% for message in app.flashes('success') %}
                            <div class="d-flex justify-content-center" >
                                <div class="alert alert-success" style="max-width: 800px">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                        {% if produits | length > 0 %}
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Supression</th>
                                <th class="d-none d-md-block">Image</th>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Unité</th>
                                <th>Actualiser</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in produits %}
                            <form action="{{ path('cart_edit',{'id': item.produit.id}) }}" method="get">
                                <tr class="text-center">
                                    <td class="product-remove"><a href="{{path('cart_remove', {'id' : item.produit.id})}}"><span class="ion-ios-close"></span></a></td>

                                    <td class="image-prod  d-none d-sm-block">
                                        <a class="img" href="{{ path('shop_detail', {id: item.produit.id} ) }}"
                                           style="background-image:url({{ vich_uploader_asset(item.produit, 'imageFile') }});"></a>
                                    </td>

                                    <td class="product-name">
                                        <h3>{{item.produit.title}}</h3>

                                    </td>

                                    <td class="price">{{item.produit.price}}€</td>

                                    <td class="quantity">
                                        <div class="input-group justify-content-center" style="max-width: 200px">

                                            <div class="ml-2 ml-lg-4">
                                                <button class="btn btn-outline-primary js-btn-minus px-2" type="button">
                                                    &minus;
                                                </button>
                                            </div>
                                            <input type="text" id="qte" name="qte"  class="form-control text-center" value="{{ item.quantity }}" placeholder=""
                                                   aria-label="Example text with button addon"
                                                   aria-describedby="button-addon1">
                                            <div class="">
                                                <button class="btn btn-outline-primary js-btn-plus px-2" type="button">
                                                    &plus;
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="unity"> {{ item.produit.unite }}</td>
                                    <td class="bouton"  data-toggle="tooltip" title="Mettre à jour le prix">
                                        <button type="submit"><span class="ion-ios-refresh"></span></button>
                                    </td>
                                    <td class="total">{{(item.produit.price*item.quantity) | number_format(2, ',', '.')  }}€</td>
                                </tr><!-- END TR-->
                            </form>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <div class="text-center m-5">
                            <div class="text-center mb-5">
                                <h3 class="mb-3">Il n'y a pas de produit dans le panier</h3>
                                <a href="{{ path('shop') }}" class="btn btn-primary">
                                    Aller à la boutique
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Code promo</h3>
                            <p>Entrez votre code promo si vous en avez un.</p>
                            <form action="#" class="info">
                                <div class="form-group">
                                    <label for="">Code promo</label>
                                    <input type="text" class="form-control text-left px-3" placeholder="">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path("checkout") }}" class="btn btn-primary py-3 px-4 m-3">Appliquer le
                                        code</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Estimation des frais de transports et de la TVA</h3>
                            <p>Entrez votre destination pour obtenir un devis d'expédition</p>
                            <form action="#" class="info">
                                <div class="form-group">
                                    <label for="">Pays</label>
                                    <input type="text" class="form-control text-left px-3" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="country">région</label>
                                    <input type="text" class="form-control text-left px-3" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label for="country">code postal</label>
                                    <input type="text" class="form-control text-left px-3" placeholder="">
                                </div>
                                <div class="d-flex justify-content-end">
                                    <a href="{{ path("checkout") }}" class="btn btn-primary py-3 px-4 m-3">Estimation</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-5 cart-wrap ftco-animate">
                        <div class="cart-total mb-3">
                            <h3>Montants du panier</h3>
                            <p class="d-flex">
                                <span>Sous-total</span>
                                <span>{{ sousTotal | number_format(2, ',', '.') }}€</span>
                            </p>
                            <p class="d-flex">
                                <span>TVA</span>
                                <span>{{TVA | number_format(2, ',', '.') }}€</span>
                            </p>
                            <p class="d-flex">
                                <span>Remise</span>
                                <span>0€</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>{{total | number_format(2, ',', '.') }}€</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ path("checkout") }}" class="btn btn-primary py-3 px-4">Passer commande</a>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    {{ include("include/_newsletter.html.twig") }}
{% endblock %}
