{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}

    <form id="payment-form">
        <div id="card-element">
            <!-- Elements will create input elements here -->
        </div>

        <!-- We'll put the error messages in this element -->
        <div id="card-errors" role="alert"></div>

        <button id="submit" class="btn btn-primary">Payer</button>
    </form>

    <script> var clientSecret = "{{ clientSecret}}"</script>



    <script>

        var stripe = Stripe('pk_test_gaGdpBTousGEDE6F1rEQUxR300uoJgBrL1');

        var elements = stripe.elements();

        var form = document.getElementById('payment-form');



        form.addEventListener('submit', function(ev) {
            ev.preventDefault();
            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card,
                    billing_details: {
                        name: "{{app.user.username}}"
                    }
                }
            }).then(function(result) {
                if (result.error) {
                    // Show error to your customer (e.g., insufficient funds)
                    console.log(result.error.message);
                } else {
                    // The payment has been processed!
                    if (result.paymentIntent.status === 'succeeded') {

                        document.location.href="{{ path('commande_create') }}";

                        // Show a success message to your customer
                        // There's a risk of the customer closing the window before callback
                        // execution. Set up a webhook or plugin to listen for the
                        // payment_intent.succeeded event that handles any business critical
                        // post-payment actions.
                    }
                }
            });
        });

        /* stripe.confirmCardPayment may take several seconds to complet*/



        // Set up Stripe.js and Elements to use in checkout form
        var style = {
            base: {
                color: "#32325d",
            }
        };

        var card = elements.create("card", { style: style });
        card.mount("#card-element");

        cardElement.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });
    </script>


{% endblock %}

