{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <section class="container mb-5" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">
        <div class="mb-5">
            {% for message in app.flashes('success') %}
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <section class="d-md-flex justify-content-between">
                <div class=" d-flex justify-content-start">
                <span class="pt-3 pr-4">
                    <i class="icon-user-circle-o"
                       style="font-size: 70px; color:#4aa599;"></i>
                </span> <span>
        <h1 class="pb-0">Mot de passe oublié</h1>
        <h6 style="color:#ABC973;">Renseigné votre email pour réinitialiser votre mot de passe</h6>
    </span>                </div>
            </section>
                {{ form_start(emailForm) }}
                <div class="row align-items-center">
                    <span class="col-sm-6">
                             {{ form_widget(emailForm) }}
                    </span>
                    <span class="col-sm-6">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </span>
                </div>
                {{ form_end(emailForm) }}
        </div>
    </section>
{% endblock %}
