{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main%}
    <section class="container mb-5" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">
        <div class="mb-5">
            <section class="mt-5">
            {% for message in app.flashes('danger') %}
                <div class="d-flex justify-content-center" >
                    <div class="alert alert-danger" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="d-flex justify-content-center" >
                    <div class="alert alert-success" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            </section>
            <section class="d-md-flex justify-content-between">
                <div class="d-flex justify-content-start">

                <span class="pt-3 pr-4">

                    <i class="icon-user-circle-o"
                       style="font-size: 70px; color:#4aa599;"></i>
                </span>
                    <span>
        <h1 class="pb-0">Se connecter à la boutique</h1>
        <h6 style="color:#ABC973;">pour augmenter vos ventes</h6>
    </span>
                </div>
                <div class="pt-5">
                    <a href="{{ path('producteur_register') }}" class="btn btn-primary mt-5"> Vous n'avez pas de compte?
                        Inscrivez-vous
                        ici!</a>

                </div>
            </section>
            <div class=" justify-content-center">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                   class="form-control" required autofocus>
                            <div class="invalid-feedback">
                                Veuillez renseigner un login
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Mot de passe</label>
                            <label for="inputPassword"></label><input type="password" name="password" id="inputPassword"
                                                                      class="form-control" required>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <div class="invalid-feedback">
                                Veuillez renseigner un mot de passe
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="form-check-input" id="check-1">
                                <label class="form-check-label" for="check-1">Se souvenir de moi</label>
                            </div>

                        </div>
                        <div class="form-group col-md-6">
                            <a href="{{ 'oubli-Producteur' }}" class="mr-4">Mot de passe oublié</a>

                        </div>
                    </div>

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary mb-5">Envoyer</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
