{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}

    <section class="container mb-5" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">
        <div class="mb-5">
            {% for message in app.flashes('success') %}
                <div class="d-flex justify-content-center">
                    <div class="alert alert-success" style="max-width: 800px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <section class="d-md-flex justify-content-between">
                <div class=" d-flex justify-content-start">
                <span class="pt-3 pr-4">
                    <i class="icon-user-circle-o"
                       style="font-size: 70px; color:#4aa599;"></i>
                </span> <span>
        <h1 class="pb-0">Nouveau mot de passe</h1>
        <h6 style="color:#ABC973;">Entrez votre nouveau mot de passe</h6>
    </span>
                </div>
            </section>
            <div class=" justify-content-center">
                <form method="post">
                    <div class="row">
                        <span class="col-sm-6 w-100">
                            <label for="pass">Mot de passe</label>
                            <input type="password" name="password" id="pass">
                            <input type="hidden" name="token" value="{{ token }}">
                        </span>
                        <span class="col-sm-6">
                            <button class="btn btn-primary">Valider</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
