{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="jumbotron jumbotron-fluid slide-accueil">
        <div class="container text-center animated fadeInDown transition-1 ">
            <h1 class="h1-slider">Le bon goût des produits locaux</h1>
            <div class="d-flex justify-content-center p-5 ">
                <div>
                    <div id="mouse" class="d-none d-lg-block"></div>
                    <div id="arrow-scroll" class="d-none d-lg-block">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row no-gutters ftco-services">
                <div class="col-lg-3 col-sm-6 mb-5 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-shipped"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Livraison gratuite</h3>
                            <span>Pour toute commande supérieur à 100 €</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-diet"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Toujours frais</h3>
                            <span>Respect de la chaîne du froid</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-5  text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-award"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Qualité supérieur</h3>
                            <span>Produits de qualité</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 mb-5 text-center d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services mb-md-0 mb-4">
                        <div class="icon bg-color-1 d-flex justify-content-center align-items-center mb-2">
                            <span class="flaticon-customer-service"></span>
                        </div>
                        <div class="media-body">
                            <h3 class="heading">Support</h3>
                            <span>Du lundi au vendredi, de 9h à 18h</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-category ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-4">
                        <div class="col-md-6 order-md-last align-items-stretch d-flex">
                            <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex"
                                 style="background-image: url({{ asset('images/category.jpg') }});">
                                <div class="text text-center">
                                    <h2>Les Légumes</h2>
                                    <p>protège la santé de tous</p>
                                    <p><a href="#" class="btn btn-primary">Aller à la boutique</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                                 style="background-image: url({{ asset('images/category-1.jpg') }});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Panier de légumes</a></h2>
                                </div>
                            </div>
                            <div class="category-wrap ftco-animate img d-flex align-items-end"
                                 style="background-image: url({{ asset('images/category-2.jpg') }});">
                                <div class="text px-3 py-1">
                                    <h2 class="mb-0"><a href="#">Fraises</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end"
                         style="background-image: url({{ asset('images/category-3.jpg') }});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Jus</a></h2>
                        </div>
                    </div>
                    <div class="category-wrap ftco-animate img d-flex align-items-end"
                         style="background-image: url({{ asset('images/category-4.jpg') }});">
                        <div class="text px-3 py-1">
                            <h2 class="mb-0"><a href="#">Graines</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Produits populaires</span>
                    <h2 class="mb-4">Nos produits</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="d-flex justify-content-center mb-5">
                <span class="mr-3"><i class="ion-ios-list"></i> Liste de courses</span>
                <span class="mr-3"><i class="ion-ios-cart"></i> Panier</span>
                <span><i class="ion-ios-person"></i> Producteur</span>
            </div>
            <div class="row">
                {% for produit in produits %}
                    <div class=" col-6 col-md-4 col-lg-3 selection-item filter-legume ftco-animate">

                        <div class="product bordure ">
                            <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                        class="img-fluid"
                                        src="{{ vich_uploader_asset(produit, 'imageFile') }}"
                                        alt="Premier produit">
                                <span class="status"><i class="ion-ios-add"></i></span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">{{ produit.title }}</a></h3>
                                <div>
                                    {% for t in produit.tags %}
                                        <em class="small">{{ t.name }}</em>
                                    {% endfor %}
                                </div>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span
                                                    class="price-sale">{{ produit.price }}€</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <a href="{{ path('wishlist_add', {'id': produit.id}) }}"
                                               class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span data-toggle="tooltip" title="Ajouter à la liste de courses"><i
                                                            class="ion-ios-list"></i></span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('cart_add', {'id': produit.id}) }}"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span data-toggle="tooltip" title="Ajouter au panier"><i
                                                            class="ion-ios-basket"></i></span>
                                        </a>
                                        <a href="{{ path('producteur_detail', {'id': produit.seller.id}) }}"
                                           class="buy-now d-flex justify-content-center align-items-center">
                                                <span data-toggle="tooltip" title="Voir le producteur"><i
                                                            class="ion-ios-person"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {# Pour modifier le décompte il faut aller dans PUBLIC/JS/MAIN.JS, puis modifier la date à la ligne 371 #}

    <section class="ftco-section img" style="background: url({{ asset('images/bg_3.jpg') }}) center right;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                    <span class="subheading">Meilleur prix du moment</span>
                    <h2 class="mb-4">L'affaire du jour</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                    <h3><a href="#">Epinard</a></h3>
                    <span class="price">6€ <a href="#">en ce moment 4€ seulement</a></span>
                    <div id="timer" class="d-flex mt-5">
                        <div class="time" id="days"></div>
                        <div class="time pl-3" id="hours"></div>
                        <div class="time pl-3" id="minutes"></div>
                        <div class="time pl-3" id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <span class="subheading">Témoignage</span>
                    <h2 class="mb-4">Nos clients satisfaits disent</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts. Separated they live in</p>
                </div>
            </div>
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        {% for commentaire in commentaires %}
                        <div class="item">
                            <div class="testimony-wrap p-4 pb-5">

                                <div class="text text-center">
                                    <p class="mb-5 pl-4 line">{{commentaire.commentaire}}</p>
                                    <p class="name">{{commentaire.client}}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!--   <section class="ftco-section ftco-partner">
        <div class="container">
            <div class="row">
                <div class="  col-6 col-md-4 col-lg-3  p-4 ftco-animate">
                    <a href="#" class="partner"><img src="{{ asset('images/partner-2.png') }}" class="img-fluid" alt="partenaire-2"></a>
                </div>
                <div class="  col-6 col-md-4 col-lg-3  p-4 ftco-animate">
                    <a href="#" class="partner"><img src="{{ asset('images/partner-3.png') }}" class="img-fluid" alt="partenaire-3"></a>
                </div>
                <div class="  col-6 col-md-4 col-lg-3  p-4 ftco-animate">
                    <a href="#" class="partner"><img src="{{ asset('images/partner-4.png') }}" class="img-fluid" alt="partenaire-4"></a>
                </div>
                <div class="  col-6 col-md-4 col-lg-3  p-4 ftco-animate">
                    <a href="#" class="partner"><img src="{{ asset('images/partner-5.png') }}" class="img-fluid" alt="partenaire-5"></a>
                </div>
            </div>
        </div>
    </section>
-->
    {{ include("include/_newsletter.html.twig") }}
{% endblock %}
