/*------------------------------------------------------

Général

------------------------------------------------------*/
@font-face {
    font-family: "frais-style";
    src: url("../fonts/frais-style.ttf");

}

/*---------------Typographie-----------------------*/

h1 {
    padding: 25px 0 10px 0;
    font-family: "frais-style", cursive;
}


#contenu h2{
    padding: 5px 0 10px 0;
    font-family: "frais-style", cursive;
}





#contact h4 {

    font-weight: 500;
}


/*---------------img jumbotron-----------------------*/


.hero-wrap.hero-bread {
    padding: 5em 0;
}
.jumbotron-title {
    color:#fff;
}

/*---------------Mise en forme avec ombrage-----------------------*/


.bordure {
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}


.product:hover {
    -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.2);
}

#livraison {

    cursor: pointer;
}


/*---------------Btn-----------------------*/

.btn {
    cursor: pointer;
    -webkit--webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    -ms-border-radius: 0.25rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}

.btn-sm,
.btn-group-sm > .btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.5rem;
    line-height: 1.5;
    background: none;
}

.btn-head {
    color: #fff;
    border: solid 1px #fff;
}

.btn-head:hover,
.btn-head:focus {
    color: #fff;
    background-color: #57BFA3;
    border: solid 1px #57BFA3;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ABC973;
    border-color: #ABC973;
}

.btn-primary:focus,
.btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(173, 158, 135, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(173, 158, 135, 0.5) !important;

}

.btn.btn-primary {

    color: #ABC973 !important;
    border: 1px solid #ABC973 !important;
    background: #fff !important;
}

.btn.btn-contact:hover {

    color: #fff;
    border: 1px solid #ABC973;
    background: #ABC973;
}

.btn.btn-contact {

    color: #ABC973;
    border: 1px solid #fff;
    background: #fff;
}

.btn.btn-primary:hover {

    color: #fff !important;
    border: 1px solid #ABC973 !important;
    background: #ABC973 !important;
}


.btn-modif {
    border: 1px solid #ABC973;
    color: #ABC973;
    padding: 10px 15px;
}

.btn-ajout {

    border: 1px solid #57BFA3;
    color: #57BFA3;
    padding: 10px 15px;
}

.btn-modif:hover {
    border: 1px solid #ABC973;
    background: #ABC973;
    color: #fff;
    padding: 10px 15px;
}

.btn-ajout:hover {

    border: 1px solid #57BFA3;
    background: #57BFA3;
    color: #fff;
    padding: 10px 15px;
}

.btn-editform {

    border: 1px solid #ABC973;
    background: #ABC973;
    color: #fff;
    padding: 10px 15px;
}


.btn-editform:hover {

    border: 1px solid #499E87;
    background: #499E87;
    color: #fff;
    padding: 10px 15px;
}


.btn-addform {

    border: 1px solid #57BFA3;
    background: #57BFA3;
    color: #fff;
    padding: 10px 15px;
}


.btn-addform:hover {

    border: 1px solid #57BFA3;
    background: #b36404;
    color: #fff;
    padding: 10px 15px;
}




/*------------------------------------------------------

Barre de navigation

------------------------------------------------------*/


.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 1);
    box-shadow: 0px 5px 20px -7px rgba(0, 0, 0, 0.3);

    /* border: .1px dashed #000; */
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link {
    color: #8C7A5D;
}

.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #57BFA3 !important;
}


.ftco-navbar-light .navbar-nav > .nav-item.active > .nav-link {
    color: #57BFA3;
}


/* coloration icons barre de menu   */


.ftco-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #ABC973;
}

.ftco-navbar-light.scrolled .navbar-nav > .nav-item.active > a,
.ftco-navbar-light.scrolled .navbar-nav > .nav-item.hover > a {

    color: #57BFA3 !important;
}


.ftco-navbar-light.scrolled .navbar-nav > .nav-item.active.cta > a,
.ftco-navbar-light.scrolled .navbar-nav > .nav-item.hover.cta > a {

    background: #57BFA3 !important;
    color: #fff !important;
}

.ftco-navbar-light.scrolled .navbar-nav > .nav-item.cta > .nav-link:hover {
    color: #fff !important;
}


.dropdown-item {
    color: #8C7A5D !important;
}

.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover,
.ftco-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {

    color: #57BFA3 !important;
}

.ftco-navbar-light.scrolled .nav-link {;
    color: #8C7A5D !important;
}

.ftco-navbar-light.scrolled .nav-link:active {;
    color: #57BFA3;
!important;
}


#nav-title {

    color: #57BFA3;
    font-family: 'Devonshire', cursive !important;
    font-size: 28px;

}

#nav-img {
    height: 70px;

}


/* menu mobile   */

.ftco-navbar-light.scrolled .navbar-toggler {

    color: #57BFA3;
!important;
    border-color: #57BFA3;
!important;

}

.power {
    color: #ABC973 !important;
    border: 2px solid #ABC973;
    border-radius: 1em;
}

.power:hover {
    color: #fff !important;
    background: #ABC973;
    border: 2px solid #ABC973;
    border-radius: 1em;
}


.ftco-navbar-light.scrolled .nav-link.power:hover {
    color: #fff !important;
    background: #ABC973;
    border: 2px solid #ABC973;
    border-radius: 1em;
}


.dropdown-item {

    font-size: 0.8rem;
' letter-spacing: px;

}


/*------------------------------------------------------

Slider page d'accueil

------------------------------------------------------*/


.slide-accueil {
    background: url(../images/bg_4.jpg) no-repeat center top / cover;
    color: #fff;
    height: 650px;
    display: flex;
    align-items: center;
}

.h1-slider {
    color: #fff;
    font-family: "frais-style", cursive !important;
    font-size: 60px;
}

#couleur-fond {
    padding: 50px;
    background: #2c3e50;
}

#mouse {
    height: 50px;
    width: 35px;
    border-radius: 14px;
    border: 2px solid #fff;
}

#mouse:after {
    content: '';
    display: block;
    height: 8px;
    width: 2px;
    margin: 10px auto;
    background: #fff;
    position: relative;
    -webkit-animation: a 1.2s ease infinite;
    animation: a 1.2s ease infinite
}

#arrow-scroll {
    width: 35px;
    margin-top: 10px
}

#arrow-scroll > span {
    font-family: Arial, sans-serif;
    display: block;
    width: 9px;
    height: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 5px auto 3px;
    -webkit-animation: b 1s infinite;
    animation: b 1s infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

#arrow-scroll > span:first-child {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

#arrow-scroll > span:last-child {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

@-webkit-keyframes a {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@keyframes a {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@-webkit-keyframes b {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

@keyframes b {
    0% {
        opacity: 0
    }

    50% {
        opacity: .5
    }

    to {
        opacity: 1
    }
}

.animated {

    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.transition-1 {
    animation-delay: 120ms;
}

.transition-2 {
    animation-delay: 250ms;
}

.transition-3 {
    animation-delay: 500ms;
}

/*------------------------------------------------------

Mise en forme formulaire

------------------------------------------------------*/


.billing-form .form-control {
    border: 1px solid #ABC973 !important;
    color: #000 !important;
    border-radius: 10px;
}


.input-group .input-list {

    border: solid 1px #000 !important;

}


#editAddress h5 {
    color: #ABC973;
}


#contact-form .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #fff;
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09) !important;

}


.info {

    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09) !important;
}


/*------------------------------------------------------

Réseaux sociaux

------------------------------------------------------*/

.ftco-footer-social li a span {

    color: #ABC973;
}

.ftco-footer-social li a span:hover {

    color: #57BFA3;
}


.ftco-footer .ftco-footer-widget ul li a,
.ftco-footer {

    color: #8C7A5D;
}

/*------------------------------------------------------

Icons

------------------------------------------------------*/


.ion-2x:before {
    position: relative;
    font-size: 2em;
}


/*------------------------------------------------------

Formulaire

------------------------------------------------------*/


/* Pour faire apparaitre les flèches dans les champs number  */


input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}


/* Pour faire apparaitre les flèches dans les champs number  */


input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}


.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #fff;
    content: "Importer";
    background: #ABC973;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}


/*----------- Bouton panier dans liste de course---------------*/


.ftco-cart .bouton button {
    height: 0 !important;
    border-radius: 0.2rem;
    background: none;
    bordeR: 1px solid rgba(0, 0, 0, 0.1) !important;
    color: #8c7a5d !important;
    padding: 2px 7px 30px 7px;
    font-size: 16px;
}

.ftco-cart .bouton button:hover {
    background: #ABC973;
    color: #fff !important;
    border: 1px solid #ABC973 !important;
}

/*------------------------------------------------------

Tableau

------------------------------------------------------*/


#contenu .table .thead-primary {
    background: none;
}

#contenu .table .thead-primary tr th {
    padding: 10px ;
    color: #ABC973 !important;
    border-top: 1px solid #ABC973  !important;
    border-bottom: 1px solid #ABC973  !important;

}

#contenu a{
    bordeR: 1px solid rgba(0, 0, 0, 0);
}

/*------------------------------------------------------

utilisateur

------------------------------------------------------*/
h6,
.h6 {
    font-size: 0.9rem;
    color: #ABC973;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid rgba(87, 191, 163, 1);

}


.filter-active {
    background: #ABC973;
    color: #fff;
}


.table {
    min-width: 100px !important;
    width: 100%;
    text-align: center;
}


.table tbody tr td.image-prod .img {
    display: block;
    width: 100px;

    height: 100px;
    margin: 0 auto;
}

.table tbody tr td {
    text-align: center !important;
    vertical-align: middle;
    padding: 0;
    border: 1px solid transparent !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;

}

.table tbody tr td.price h3,
.table tbody tr td.total h3 {
    font-size: 15px;
    color: #8c7a5d;
}

.card {


    background-clip: border-box;
    border: 2px solid rgba(87, 191, 163, 1);
    border-radius: 0.25rem;
}

.card-header {
    background: #ABC973;
    color: #fff;

}


#selection {
    padding: 60px 0 0 0;
}

#selection #selection-flters {
    padding: 0;
    margin: 5px 0 35px 0;
    list-style: none;
}

#selection #selection-flters li {
    cursor: pointer;
    margin: 15px 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 20px;
    color: #666666;
    border-radius: 0.25rem;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}


#selection #selection-fltersr li:hover,
#selection #selection-flters li.filter-active {
    background: #ABC973;
    color: #fff;
}

#selection #selection-flters li.go-shop {

    color: #57BFA3;
    margin-right: 0;
}

#selection #selection-flters li.go-shop:hover {
    background: #57BFA3;
    color: #fff;
    margin-right: 0;
}


.cart-wrap .btn-primary {
    display: inline-block;
}

.total-user {
    width: 100%;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.total-user h3 {
    font-size: 16px;
    margin-bottom: 20px;
}

.total-user p {
    width: 100%;
    display: block;
}

.total-user p span {
    display: block;
    width: 50%;
}

.total-user p.total-price span {
    text-transform: uppercase;
}

.total-user p.total-price span:last-child {
    color: #8c7a5d;
    font-weight: 600;
}


.custom-file-input ~ .custom-file-label:lang(fr)::after {
    content: "Importer";
    background: #ABC973;
    color: #fff;
}


/*------------------------------------------------------

Infos producteur

------------------------------------------------------*/



.product .text .bottom-area a.supression {

    background: #e84335;

}
.product .text .bottom-area a.supression:hover {

    background: #8c7a5d;

}

.product .text .bottom-area a.supression .btn {


    color: #fff !important;
}
.product .text .bottom-area a.supression .btn:hover {


    color: #fff !important;
}


/*------------------------------------------------------

carte

------------------------------------------------------*/

.carte{

    max-width: 538px
}

iframe {
     height: 400px;
     width: 150em;
 }

#maCarte{
    height: 300px;
    /*pointer-events: none;*/

}




/*------------------------------------------------------

Média queries

------------------------------------------------------*/


/*---------------min-width-----------------------*/


@media (min-width: 576px) {
    .modal-dialog {
        max-width: 750px;
        margin: 1.75rem auto;
    }


}

/*---------------max-width-----------------------*/


@media (max-width: 991.98px) {
    .ftco-navbar-light {
        background: #fff !important;
    }

    .ftco-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff !important;

    }

    .ftco-navbar-light .navbar-nav > .nav-item.cta > a:hover {
        color: #fff !important;

    }

    .ftco-navbar-light .navbar-nav > .nav-item > .nav-link {

        padding-left: 15px;
        padding-right: 15px;

    }


    .h1-slider {
        font-family: 'Devonshire', cursive !important;
        font-size: 50px;
    }

    .slide-accueil {

        height: 300px;

    }

    .wrap-about .heading-section-bold h2 {
        font-size: 27px;
        font-weight: 600;
        color: #57BFA3;
    }

}

@media (max-width: 767px) {


    #contact-medaillon {

        margin-left: auto !important;
        margin-right: auto !important;


    }
}
