<!-- section beige -->

<section class="ftco-section ftco-no-pt ftco-no-pb mt-5 py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
        </div>
    </div>
</section>

<!-- fin section beige -->

<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row">
            <div class="mouse">
                <a href="#" class="mouse-icon">
                    <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                </a>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-sm-6 col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Frais & local</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Menu</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{asset('shop')}}" class="py-2 d-block">Magasin</a></li>
                        <li><a href="{{asset('about')}}" class="py-2 d-block">A propos</a></li>
                        <li><a href="{{asset('Producer')}}" class="py-2 d-block">Blog</a></li>
                        <li><a href="{{asset('contact')}}" class="py-2 d-block">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Aide</h2>
                    <div class="d-flex">
                        <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
                            <li><a href="#" class="py-2 d-block">Informations sur la livraison</a></li>
                            <li><a href="#" class="py-2 d-block">Retours et échanges</a></li>
                            <li><a href="#" class="py-2 d-block">termes et conditions</a></li>
                            <li><a href="#" class="py-2 d-block">Politique de confidentialité</a></li>
                            <li><a href="#" class="py-2 d-block">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Vous avez une question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text py-2">5 place de la mairie, 35510 Cesson sévigné, France</span></li>
                            <li><a href="tel:0299345678"><span class="icon icon-phone"></span><span class="text py-2">02 99 12 34 56</span></a></li>
                            <li><a href="mailto:lepre@manger.bzh"><span class="icon icon-envelope"></span><span class="text py-2">frais-et-local.bzh</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>
                        document.write(new Date().getFullYear());
                    </script> Tous droits réservés
                    <!-- | Modèle conçu par <a href="https://colorlib.com" target="_blank">Colorlib</a>
                     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

