<div class="py-1 bg-primary">
    <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
            <div class="col-lg-12 d-block">
                <div class="row d-flex">
                    <div class="col-6 col-md-3 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-phone2"></span></div>
                        <a href="tel:+33619889168"><span class="text">02 99 12 34 56</span></a>
                    </div>
                    <div class="col-6 col-md-3 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-paper-plane"></span></div>
                        <a href="mailto:lepre@manger.bzh"><span class="text">frais-et-local.bzh</span></a>
                    </div>
                    <div class="col-6 col-md-3 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-map-marker"></span></div>
                        <a href="{{ path('contact_map') }}#carte"><span class="text">situer le magasin</span></a>
                    </div>
                    <div class="col-6 col-md-3 pr-4 d-flex topper align-items-center">
                        <div class="icon mr-2 d-flex justify-content-center align-items-center"><span
                                    class="icon-truck"></span></div>
                        <span class="text">livraison quotidienne</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light bordure" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{{ path("home") }}"><img src="{{ asset('images/Logo.svg') }}" alt="Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto d-flex-justify-content-center">
                {% if app.request.attributes.get('_route') == 'home' %}
                <li class="nav-item active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'home' %}
                <li class="nav-item">{% endif %}
                    <a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
                {% if app.request.attributes.get('_route') == 'shop' %}
                <li class="nav-item dropdown active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'shop' %}
                <li class="nav-item dropdown">{% endif %}
                    <a class="nav-link dropdown-toggle" onclick="shop()" href="#" id="dropdown04" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Magasin</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" href="{{ path('shop') }}">Boutique</a>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a class="dropdown-item" href="{{ path('wishlist') }}">Liste de courses</a>
                        {% endif %}
                    </div>
                </li>
                {% if app.request.attributes.get('_route') == 'producteur' %}
                <li class="nav-item active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'producteur' %}
                <li class="nav-item">{% endif %}
                    <a href="{{ path('Producteur') }}" class="nav-link">Producteurs</a></li>
                {% if app.request.attributes.get('_route') == 'about' %}
                <li class="nav-item active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'about' %}
                <li class="nav-item">{% endif %}
                    <a href="{{ path('about') }}" class="nav-link">A propos</a></li>
                {% if app.request.attributes.get('_route') == 'contact' %}
                <li class="nav-item active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'contact' %}
                <li class="nav-item">{% endif %}
                    <a href="{{ path('contact') }}" class="nav-link">contact</a></li>
                {% if app.request.attributes.get('_route') == 'cart' %}
                <li class="nav-item cta cta-colored dropdown active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'cart' %}
                <li class="nav-item cta cta-colored dropdown">{% endif %}
                    <a class="nav-link dropdown-toggle" onclick="basket()" id="dropdown05" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false"><span
                                class="icon-shopping-basket"></span><span>[{{ app.session.get('sousTotal') | number_format(2, ',', '.') }}€]</span></a>
                    <div class="dropdown-menu text-center" aria-labelledby="dropdown05">
                        <a class="dropdown-item" href="{{ path('cart') }}">Voir mon panier</a>
                        <a class="dropdown-item" href="{{ path('checkout') }}">Commander</a>
                    </div>
                </li>
                {% if app.request.attributes.get('_route') == 'app_login' %}
                <li class="nav-item cta cta-colored dropdown active">{% endif %}
                    {% if app.request.attributes.get('_route') != 'app_login' %}
                <li class="nav-item cta cta-colored dropdown">{% endif %}
                    <a class="nav-link dropdown-toggle" id="dropdown06" aria-haspopup="true"
                       aria-expanded="false"><span class="icon-user-o"></span></a>
                    <div class="dropdown-menu" aria-labelledby="dropdown06">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                        {% if is_granted('ROLE_PRODUCTEUR') %}
                            <a class="dropdown-item" href="{{ path('user_producteur') }}">Voir mes infos</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('user_client') }}">Voir mes infos</a>
                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        {% else %}
                            <a class="dropdown-item" href="{{ path('app_login') }}">Accès client</a>
                            <a class="dropdown-item" href="{{ path('prod_login') }}">Accès producteur</a>
                            <a class="dropdown-item" href="{{ path('choice') }}">Inscription</a>
                        {% endif %}


                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>
