<section class="ftco-section ftco-no-pt ftco-no-pb pt-5 bg-light">
    <div class="container py-4">
        {% for message in app.flashes('danger') %}
            <div class="d-flex justify-content-center">
                <div class="alert alert-danger text-center" style="max-width: 800px">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="d-flex justify-content-center" >
                <div class="alert alert-success" style="max-width: 800px">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
            <div class=" text-center m-3">
                <h2 style="font-size: 22px;" class="mb-0">Souscrivez à notre Newsletter</h2>
                <div   >Recevez des détails par e-mail sur nos dernières offres spéciales</div>
                <div><a href="{{ 'newsletter' }}" class="btn btn-primary mt-4"> Je m'inscris</a></div>
            </div>


    </div>
</section>
:
