{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Créer mon compte</h1>

                </div>
            </div>
        </div>
    </div>

    <section class="container pt-5">
        <div class="row pb-5 mb-5">
            <div class="card m-3 p-3 col-card carte" >
                <img src="{{ asset('images/client.jpg') }}" class="card-img-top rounded" alt="client">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center"><strong>Compte client</strong></h5>
                    <hr>
                    <p class="card-text text-center">Je souhaite pouvoir faire mes courses sur le site.</p>
                    <div class="text-center">
                        <a href="{{ path('client') }}" class="btn btn-editform">Je m'inscris</a>
                    </div>
                </div>
            </div>
            <div class="card col-card carte m-3 p-3" >
                <img  src="{{ asset('images/producteur.jpg') }}" class="card-img-top rounded img-fluid" alt="producteur">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title text-center"><strong>Compte producteur</strong></h5>
                    <hr>
                    <p class="card-text text-center">Je souhaite pouvoir vendre mes  produits sur le site.</p>
                    <div class="text-center">
                        <a href="{{ path('producteur_register') }}" class="btn btn-editform">Je m'inscris</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="jumbotron" style="background-image: url({{ asset('images/fond-compte.jpg') }}); height: 20rem;">

    </div>
{% endblock %}
