{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <section class="container m-auto p-5  " style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">

            <div>
        <hr />
        <h3 class="text-center">Ajouter un produit</h3>
        <hr />
        {{ form_start(produitForm) }}
        <div class="row">
            <div class="col-md-6">
                {{ form_row(produitForm.title) }}
                {{ form_row(produitForm.imageFile) }}
                {{ form_row(produitForm.price) }}
                {{ form_row(produitForm.stock) }}

            </div>
            <div class="col-md-6"> {{ form_row(produitForm.description) }}</div>
        </div>
        <div class="row">
            <div class="col-md-4 col-6">
                {{ form_row(produitForm.unite) }}
            </div>
            <div class="col-md-4 col-6">
                {{ form_row(produitForm.categories) }}
            </div>
            <div class="col-md-4 col-6">
                {{ form_row(produitForm.tags) }}
            </div>
        </div>

        {{ form_widget(produitForm) }}
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Créer Un Produit</button>
        </div>
        {{ form_end(produitForm) }}
            </div>


    </section>

{% endblock %}

