{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <div class="container">
        <h5>Nom du produit: {{ produit.title }}</h5>
        <p>{{ produit.description }}</p>
        <p>Prix: {{ produit.price }}</p>
        <p>Stock: {{ produit.stock }}</p>
        <p>{{ produit.categories.name }}</p>
        <p>Vendeur: {{ produit.seller.username }}</p>
        {% if produit.available == true %}
            <p>Produit disponible </p>
        {% else %}
            <p>Produit indisponible</p>

        {% endif %}

        <a href="{{ path('produit_edit', {id: produit.id} ) }}" class="btn btn-primary"> Modifier
        </a>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb mt-5 py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
            </div>
        </div>
    </section>

{% endblock %}

