{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | image producteur {% endblock %}

{% block main %}




    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Mon espace producteur</h1>
                </div>
            </div>
        </div>
    </div>

    <!--------------------

           Menu

            ----------------------->

    <section id="selection" class="section-bg mx-3">
        <div class="row">
            <div class="col-xl-4">
                <ul id="selection-flters">
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12 filter-active one">Ajouter une image</li>

                    <a href="{{ path('user_producteur') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Retour à mon espace</li>
                    </a>
                    <a href="{{ path('contact') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Contacter l'administrateur</li>
                    </a>
                </ul>
            </div>
            <div class="row selection-container col-xl-8">
                <div class="col selection-item filter-produc">
                    <hr/>
                    <h3 class="text-center">Ajouter une image</h3>
                    <hr/>
                    <div class="row mt-5">
                        <span class="col-sm-6">
                                     {% for message in app.flashes('danger') %}
                                         <div class="d-flex justify-content-center">
                <div class="alert alert-danger text-center" style="max-width: 800px">
                    {{ message }}
                </div>
                </div>
                                     {% endfor %}
                            {{ form_start(imageForm) }}

                            {{ form_row(imageForm.imageFile) }}
                            {{ form_row(imageForm.producteur, { 'value': app.user.id }) }}
                             <button type="submit" class="btn btn-primary btn-block"><span
                                         class="icon-send"></span></button>
                        {{ form_end(imageForm) }}

                           {% if image!= null %}
                                     <form method="post"
                                           action="{{ path('imageProducteur_delete', {'id': image.id}) }}">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delete' ~ image.id) }}">
                                                            <button class="btn">  <button
                                                                        class="btn btn-outline-danger btn-block"><span
                                                                            class="icon-trash"></span></button></button>
                                                        </form>
                            {% endif %}
                        </span>
                        <span class="col-sm-6">
                            {% if image != null %}
                                <img src="{{ vich_uploader_asset(image, 'imageFile')| imagine_filter('producteur') }}"
                                     alt=" photo alternative"
                                     class="img-fluid">
                            {% else %}
                                <img src="{{ asset('images/image_1.jpg') }}" alt=" photo alternative"
                                     class="img-fluid">
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #selection -->
{% endblock %}
