{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}
    <h1> Commande de {{ commande.client.firstname }} {{ commande.client.lastname }}</h1>
    <h4>numero client: {{ commande.client.id }}</h4>

    <h4>Produit acheté</h4>
    <table class="table">
        <thead>
        <tr>
            <th>Nom du Produit</th>
            <th>Quantité Acheté</th>
            <th>Categorie du produit</th>
            <th>Stock restant</th>
            <th>Prix du produit</th>
            <th>Vendeur</th>
        </tr>
        </thead>

        {% for ligne in commande.lignes %}


            <tbody>
            <tr>
                <th>{{ ligne.produit.title }}</th>
                <th>{{ ligne.quantite }}</th>
                <th>{{ ligne.produit.categories.name}}</th>
                <th>{{ ligne.produit.stock }}</th>
                <th>{{ ligne.produit.price }} €</th>
                <th>{{ ligne.produit.seller.company }}</th>
            </tr>
            </tbody>

        {% endfor %}

    </table>

    <p>Client: {{ commande.client.lastname }}</p>
    <p>Total: {{ commande.total }} €</p>
    <p>Tva: {{ commande.tva }} €</p>
    <p>Date de la commande: {{ commande.dateCommande| date('d/m/Y') }}</p>


{% endblock %}

