{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block main %}

    <h1> commandes de {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Numero de commande</th>
            <th>Client</th>
            <th>Total</th>
            <th>TVA</th>
            <th>Date de commande</th>
            <th>Details Commande</th>
        </tr>
        </thead>

        {% for commande in commandes %}
        <tbody>
        <tr>
            <th>{{commande.id }}</th>
            <th>{{ commande.client.firstName }}</th>
            <th>{{ commande.total }}</th>
            <th>{{ commande.tva }}</th>
            <th>{{ commande.dateCommande|date('d/m/Y') }}</th>
            <th><a href="{{ path('commande_details',{'id':commande.id}) }}">details</a></th>
        </tr>
        </tbody>
        {% endfor %}
    </table>

{% endblock %}

