{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <h1 class="text-center">Ma liste de courses</h1>
    <section class="ftco-cart">
        <div class="container">
            {% if produits | length > 0 %}
                <div  class="d-flex justify-content-center mb-4">
                    <a href="{{ path('shop') }}#boutique" class="btn btn-primary">Retour à la boutique</a>
                </div>
            {% endif %}
            {% for message in app.flashes('danger') %}
                <div class="d-flex justify-content-center">
                <div class="alert alert-danger text-center" style="max-width: 800px">
                    {{ message }}
                </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
            <div class="d-flex justify-content-center" >
                <div class="alert alert-success" style="max-width: 800px">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% if produits | length > 0 %}
            <div class="row">
                <div class="col-md-12">
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th>Supression</th>

                                <th class="d-none d-md-block">Image</th>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                {# <th>Total</th>#}
                                <th>Unité</th>
                                <th>Panier</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                <form action="{{ path('panier',{'id': produit.id}) }}" method="get">
                                    <tr class="text-center">
                                        <td class="product-remove"><a href="{{path('wishlist_remove', {'id' : produit.id})}}"><span class="ion-ios-close"></span></a>
                                        </td>

                                        <td class="image-prod  d-none d-sm-block">
                                            <a class="img" href="{{ path('shop_detail', {id: produit.id} ) }}"
                                               style="background-image:url({{ vich_uploader_asset(produit, 'imageFile') }});"></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="{{ path('shop_detail', {id: produit.id} ) }}">
                                                <h3>{{ produit.title }}</h3></a>
                                        </td>
                                        <td class="price"><label for="forme"></label>
                                            <output id="forme">{{ produit.price }}</output>
                                        </td>
                                        <td class="quantity">
                                            <div class="input-group justify-content-center" style="max-width: 200px">

                                                <div class="ml-2 ml-lg-4">
                                                    <button class="btn btn-outline-primary js-btn-minus px-2"
                                                            type="button">                                                        &minus;
                                                    </button>
                                                </div>
                                                <input type="text" id="qte" name="qte" class="form-control text-center"
                                                       value="{% for t in produit.listeCourses %}{{ t.quantity }}{% endfor %}"
                                                       placeholder="" aria-label="Example text with button addon"
                                                       aria-describedby="button-addon1">
                                                <div class="">
                                                    <button class="btn btn-outline-primary js-btn-plus px-2"
                                                            type="button">
                                                        &plus;
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="unity"> {{ produit.unite }}</td>
                                        <td class="bouton">
                                            <button type="submit"><span class="ion-ios-basket"></span></button>
                                        </td>
                                        {# <td class="total"></td>#}

                                    </tr><!-- END TR-->

                                </form>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="text-center m-5">
                <div class="text-center mb-5">
                    <h3 class="mb-3">Il n'y a pas de produit dans votre liste de course</h3>
                    <a href="{{ path('shop') }}" class="btn btn-primary">
                        Aller à la boutique
                    </a>
                </div>
                {% endif %}
        </div>
        </div>
    </section>
    {{ include("include/_newsletter.html.twig") }}
{% endblock %}
