{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ produit.title }}{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Détails du produit</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 ftco-animate">
                    <a href="{{ vich_uploader_asset(produit, 'imageFile') }}" class="image-popup"><img
                                src="{{ vich_uploader_asset(produit, 'imageFile') }}" class="img-fluid"
                                alt="produit"></a>
                </div>
                <div class="col-lg-6 product-details pl-md-5 ftco-animate">
                    <h3>{{ produit.title }}</h3>
                    <div class="rating d-flex">
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2">5.0</a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                            <a href="#"><span class="ion-ios-star-outline"></span></a>
                        </p>
                        <p class="text-left mr-4">
                            <a href="#" class="mr-2" style="color: #000;">100 <span
                                        style="color: #bbb;">notations</span></a>
                        </p>
                        <p class="text-left">
                            <a href="#" class="mr-2" style="color: #000;">500 <span
                                        style="color: #bbb;">Vendu</span></a>
                        </p>
                    </div>
                    <p class="price"><span>{{ produit.price }}€\{{ produit.unite }} </span></p>
                    {% autoescape %}
                        <section>{{ produit.description|raw }}</section>
                    {% endautoescape %}


                    <div class="mt-4">
                        <form action="{{ path('cart_add',{'id': produit.id}) }}" method="get">

                            {% if app.user != produit.seller %}
                                <hr>
                                <td class="quantity">
                                    <div class="input-group m-auto" style="max-width: 300px">

                                        <div class="ml-2 ml-lg-4">
                                            <button class="btn btn-outline-primary js-btn-minus px-2" type="button">
                                                &minus;
                                            </button>
                                        </div>
                                        <input type="text" id="qte" name="qte" class="form-control text-center"
                                               value="1"
                                               placeholder=""
                                               aria-label="Example text with button addon"
                                               aria-describedby="button-addon1">
                                        <div class="">
                                            <button class="btn btn-outline-primary js-btn-plus px-2" type="button">
                                                &plus;
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <hr>
                            {% endif %}

                            <section class="d-md-flex justify-content-between">
                                <div class=" py-2 px-5 rounded" style=" border: 1px solid #8c7a5d">
                                    <p>{{ produit.stock }} {{ produit.unite }} disponible</p>
                                </div>
                                <div>
                                    {% if app.user == produit.seller %}
                                        <a href="{{ path('produit_edit',{id: produit.id}) }}" class="btn btn-primary py-3 px-5">Modifier le produit</a>
                                    {% else %}
                                        <button type="submit" class="btn btn-primary py-3 px-5">Ajouter au panier
                                        </button>
                                    {% endif %}
                                </div>
                            </section>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row justify-content-center mb-3 pb-3">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Produits</span>
                    <h2 class="mb-4">Produits qui peuvent vous intéresser</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for produit in produits %}
                    <div class=" col-6 col-md-4 col-lg-3 selection-item filter-legume ftco-animate">

                        <div class="product bordure ">
                            <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                        class="img-fluid"
                                        src="{{ vich_uploader_asset(produit, 'imageFile') }}"
                                        alt="Premier produit">
                                <span class="status"><i class="ion-ios-add"></i></span>
                                <div class="overlay"></div>
                            </a>
                            <div class="text py-3 pb-4 px-3 text-center">
                                <h3><a href="#">{{ produit.title }}</a></h3>
                                <div>
                                    {% for t in produit.tags %}
                                        <em class="small">{{ t.name }}</em>
                                    {% endfor %}
                                </div>
                                <div class="d-flex">
                                    <div class="pricing">
                                        <p class="price"><span
                                                    class="price-sale">{{ produit.price }}€</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="bottom-area d-flex px-3">
                                    <div class="m-auto d-flex">
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            <a href="{{ path('wishlist_add', {'id': produit.id}) }}"
                                               class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span data-toggle="tooltip" title="Ajouter à la liste de courses"><i
                                                            class="ion-ios-list"></i></span>
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('cart_add', {'id': produit.id}) }}"
                                           class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span data-toggle="tooltip" title="Ajouter au panier"><i
                                                            class="ion-ios-basket"></i></span>
                                        </a>
                                        <a href="{{ path('producteur_detail', {'id': produit.seller.id}) }}"
                                           class="buy-now d-flex justify-content-center align-items-center">
                                                <span data-toggle="tooltip" title="Voir le producteur"><i
                                                            class="ion-ios-person"></i></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {{ include("include/_newsletter.html.twig") }}
{% endblock %}
