{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
<h1 class="text-center">Magasin</h1>
    <section class="js-filter">
        <div class="container">
            {% for message in app.flashes('danger') %}
                <div class="d-flex justify-content-center">
                    <div class="alert alert-danger text-center" style="max-width: 1200px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('success') %}
                <div class="d-flex justify-content-center" >
                    <div class="alert alert-success" style="max-width: 1200px">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
            <section class="bordure rounded js-filter-form">
                {{ form_start(form) }}
                <div class="d-md-flex justify-content-between mt-3">
                    <span class="mx-4 pt-3">
                {{ form_row(form.q) }}
                    </span>
                    <span class="mx-4 pt-3">
                <h4>Catégories</h4>
                {{ form_row(form.categories) }}
                    </span>
                    <span class="mx-4 pt-3">
                <h4>Tags</h4>
                {{ form_row(form.tags) }}
                    </span>
                    <div class="mx-4 pt-3">
                            <button type="submit"  class="btn btn-primary m-3">Rechercher</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </section>
            <section class="section-bg mx-3 container">
                <div class="d-flex justify-content-center my-4">
                    <span class="mr-3"><i class="ion-ios-list"></i> Liste de courses</span>
                    <span class="mr-3"><i class="ion-ios-cart"></i> Panier</span>
                    <span><i class="ion-ios-person"></i> Producteur</span>
                </div>
                <!--------------------

                    Liste des produits

                ----------------------->
                <div id="myTable" class="row js-filter-content">

                    {% for produit in produits %}
                        <div class=" col-6 col-md-4 col-lg-3 selection-item filter-legume ftco-animate" >

                            <div class="product bordure ">
                                {% if produit.FeaturedImage != null %}
                                <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                            class="img-fluid"
                                            src="{{ vich_uploader_asset(produit, 'imageFile')| imagine_filter('carre') }}"
                                            alt="{{ produit.title }}">
                                    <span class="status"><i class="ion-ios-add"></i></span>
                                    <div class="overlay"></div>
                                </a>
                                {% else %}
                                    <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                                class="img-fluid"
                                                src="{{ asset('images/Logo-produit.png')}}"
                                                alt="Image du produit">
                                        <span class="status"><i class="ion-ios-add"></i></span>
                                        <div class="overlay"></div>
                                    </a>
                                {% endif %}
                                <div class="text py-3 pb-4 px-3 text-center">
                                    <h3><a href="#">{{ produit.title }}</a></h3>

                                    <div>
                                        {% for t in produit.tags %}
                                            <em class="small">{{ t.name }}</em>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex">
                                        <div class="pricing">
                                            <p class="price"><span
                                                        class="price-sale">{{ produit.price}}€</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="bottom-area d-flex px-3">
                                        <div class="m-auto d-flex">
                                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                <a href="{{ path('wishlist_add', {'id': produit.id}) }}"
                                                   class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                                <span data-toggle="tooltip" title="Ajouter à la liste de courses"><i
                                                            class="ion-ios-list"></i></span>
                                                </a>
                                            {% endif %}
                                            <a href="{{ path('cart_add', {'id': produit.id}) }}"
                                               class="buy-now d-flex justify-content-center align-items-center mx-1">
                                                <span data-toggle="tooltip" title="Ajouter au panier"><i
                                                            class="ion-ios-basket"></i></span>
                                            </a>
                                            <a href="{{ path('producteur_detail', {'id': produit.seller.id}) }}"
                                               class="buy-now d-flex justify-content-center align-items-center">
                                                <span data-toggle="tooltip" title="Voir le producteur"><i
                                                            class="ion-ios-person"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center js-filter-pagination">
                    <div class="navigation">
                        {{ knp_pagination_render(produits) }}
                    </div>
                </div>
            </section><!-- #selection -->

        </div>
    </section>

    {{ include("include/_newsletter.html.twig") }}

{% endblock %}
