{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}


{% block main %}


    <section class="container mb-5" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);">

        <section class="d-md-flex justify-content-between">
            <div class="px-5 pt-5 d-flex justify-content-start">
                <span class="pt-3 pr-4">
                    <i class="icon-user-circle-o"
                       style="font-size: 70px; color:#4aa599;"></i>
                </span>
                <span>
        <h1 class="pb-0">S'inscrire à la boutique</h1>
        <h6 style="color:#ABC973;">Créez un compte client</h6>
    </span>
            </div>
            <div class="pt-md-5">
                <a href="{{ path('app_login') }}" class="btn btn-primary ml-4 mt-5 text-center"> Vous avez déjà un compte? Connectez-vous
                    ici!</a>

            </div>
        </section>


        <div class="p-5">
            {{ form_start(clientForm) }}
            <div class="row">
                <span class="col-md-6">    {{ form_row(clientForm.lastname) }}</span>
                <span class="col-md-6">    {{ form_row(clientForm.firstname) }}</span>
            </div>

            <div class="row">
                <span class="col-md-6">    {{ form_row(clientForm.username) }}</span>
                <span class="col-md-6">    {{ form_row(clientForm.civility) }}</span>
            </div>
            <div class="row">
                <span class="col-md-6">    {{ form_row(clientForm.email) }}</span>

                <span class="col-md-6">    {{ form_row(clientForm.phone) }}</span>
            </div>
            <div class="row">
                <span class="col-md-6">    {{ form_row(clientForm.email) }}</span>

                <span class="col-md-6">    {{ form_row(clientForm.phone) }}</span>
            </div>
            <div class="row">
                <span class="col">    {{ form_row(clientForm.adress)}}</span>
            </div>
            <p style="display: none">Selected: <strong id="address-value" >none</strong></p>
            <div class="row">
                <span class="col-md-4">    {{ form_row(clientForm.postalCode) }}</span>

                <span class="col-md-8">    {{ form_row(clientForm.city) }}</span>
            </div>

            <div class="row">
                <span class="col">    {{ form_row(clientForm.password) }}</span>
            </div>


            {{ form_rest(clientForm) }}


            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Créer un compte</button>
            </div>

            {{ form_end(clientForm) }}

        </div>
    </section>
{% endblock %}


