{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Commentaire{% endblock %}

{% block main %}




    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Mon espace client</h1>
                </div>
            </div>
        </div>
    </div>

    <!--------------------

           Menu

            ----------------------->

    <section id="selection" class="section-bg mx-3">
        <div class="row">
            <div class="col-xl-4">
                <ul id="selection-flters">
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12 filter-active one">Ajouter un commentaire</li>

                    <a href="{{ path('user_client') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Retour à mon espace</li>
                    </a>
                    <a href="{{ path('contact') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Contacter l'administrateur</li>
                    </a>
                </ul>
            </div>
            <div class="row selection-container col-xl-8">
                <div class="col selection-item filter-produc">
                    <hr/>
                    <h3 class="text-center">Je donne mon avis sur le site</h3>
                    <hr/>
                    <div class="row mt-5">

                        {% for message in app.flashes('success') %}
                            <div class="d-flex justify-content-center">
                                <div class="alert alert-success text-center" style="max-width: 800px">
                                    {{ message }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="w-100">

                            {{ form_start(commentaireForm) }}
                            {{ form_row(commentaireForm.commentaire) }}
                            {{ form_row(commentaireForm.client,{'value': app.user.id}) }}
                            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                            {{ form_end(commentaireForm) }}
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section><!-- #selection -->
{% endblock %}
