{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Contactez nous</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">
            <div id="contact" class="row">
                <div class="pt-5 pl-sm-5 col-sm-12 col-md-8">
                    <div class="row pb-5">
                        <img src="{{ asset('images/medaillon-interlocutrice.png') }}" alt="interlocutrice"
                             id="contact-medaillon">
                        <h4 class="p-5">Que puis-je faire pour vous?</h4>
                    </div>
                    <div id="contact-form">
                        {% for message in app.flashes('message') %}
                            <div class=" alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.firstname, {'label': 'test'}) }}</div>
                            <div class="col-md-6">{{ form_row(form.lastname, {'label': 'Nom'}) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.subject, {'label': 'Sujet'}) }}</div>
                            <div class="col-md-6"> {{ form_row(form.email) }}</div>
                        </div>

                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                        <div class="form-group text-right">
                            <button class="btn btn-primary mt-4">Envoyer</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="py-5 pl-5 col-md-4 mb-5 contact-info">
                    <h4 class="py-5">Coordonnées</h4>
                    <div>
                        <div class="info bg-white my-5 p-4 rounded">
                            <p><span>adresse:</span> <a href="#">5 pl de la mairie 35510 Cesson sévigné France</a></p>
                        </div>
                    </div>
                    <div>
                        <div class="info bg-white my-5  p-4 rounded">
                            <p><span>Téléhone:</span> <a href="tel:0299345678">02 99 12 34 56</a></p>
                        </div>
                    </div>
                    <div>
                        <div class="info bg-white my-5  p-4 rounded">
                            <p><span>Email:</span> <a href="mailto:lepre@manger.bzh">frais-et-local.bzh</a></p>
                        </div>
                    </div>
                    <div>
                        <div class="info bg-white my-45 p-4 rounded">
                            <p><span>Site</span> <a href="#">frais-et-local.bzh</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center py-5 ">
            <iframe id="carte"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2663.451814312248!2d-1.6007672493254057!3d48.12080966020655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ed93a8d9aaaab%3A0xf629c17c37553eeb!2sAcme-Sight!5e0!3m2!1sfr!2sfr!4v1586943553698!5m2!1sfr!2sfr"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>
{% endblock %}
