<h1>Activation de votre compte</h1>

<p> Veuillez cliquer sur le lien pour activer vitre compte</p>

<p><a href="{{ absolute_url(path('activationProducteur', {'token': token})) }}" class="btn btn-primary"> Activer mon compte</a></p>

