<h1>Nouveau contact</h1>

<p>Prénom : {{ contact.firstname }}</p>
<p>Nom : {{ contact.lastname }}</p>
<p>Mail : {{ contact.email }}</p>
<p>Sujet : {{ contact.subject }}</p>
<p>Message : {{ contact.message }}</p>
