<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script src="https://js.stripe.com/v3/"></script>
        <title>{% block title %}Frais & local{% endblock %}</title>
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('images/favicon-3.png') }}">

            <!-- Google Fonts -->

            <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Devonshire&display=swap" rel="stylesheet">

            <!-- Libraries CSS Files -->

            <link rel="stylesheet" href="{{ asset('css/open-iconic-bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('css/icomoon.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>


            <!-- Main Stylesheet File -->
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('css/mes-styles.css') }}">


        {% endblock %}
    </head>
    <body>
    <header>
        {{ include("include/_navbar.html.twig") }}
    </header>


    {% block main %}


    {% endblock %}

    <footer>
        {{ include("include/_footer.html.twig") }}
    </footer>
        {% block javascripts %}
            <!-- JavaScript Libraries -->
            <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('js/jquery-increment.js') }}"></script>
            <script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/aos.js') }}" type="text/javascript"></script>
            <script src="{{ asset('js/jquery.animateNumber.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('js/scrollax.min.js') }}"></script>
            <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>

            {# redirection des icons dans le menu#}

            <script>
                function shop() {
                    document.location.href="{{ path('shop') }}"
                }

                function basket() {
                    document.location.href="{{ path('cart') }}"
                }

            </script>
            <script src="https://cdn.jsdelivr.net/npm/places.js@1.10.0"></script>
            <script>
                (function() {
                    var placesAutocomplete = places({
                        container: document.querySelector('#producteur_city')
                    });

                //Il ya un champs caché en bas de la page producteur-register qui permet l'autocomplétion des donnés;
                    var $address = document.querySelector('#address-value')
                    placesAutocomplete.on('change', function(e) {
                        $address.textContent = e.suggestion.value
                        document.querySelector('#producteur_postalCode').value = e.suggestion.postcode
                        document.querySelector('#producteur_latitude').value = e.suggestion.latlng.lat
                        document.querySelector('#producteur_longitude').value = e.suggestion.latlng.lng


                        console.log(e.suggestion)
                    });

                    placesAutocomplete.on('clear', function() {
                        $address.textContent = e.suggestion.value.postcode;
                    });

                })();
            </script>

        {% endblock %}

    </body>
</html>
