{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-0 bread">Commander</h1>
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <form action="#" class="billing-form">
                        <h3 class="mb-4 billing-heading">Détails de facturation</h3>
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lastname">Nom</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.lastname }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname">Prénom</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.firstname }}">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="country">Pays</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">France</option>
                                            <option value="">Irlande</option>
                                            <option value="">Angleterre</option>
                                            <option value="">Belgique</option>
                                            <option value="">Allemagne</option>
                                            <option value="">Luxembourg</option>
                                            <option value="">Suisse</option>
                                            <option value="">Italie</option>
                                            <option value="">Espagne</option>
                                            <option value="">Portugual</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="streetaddress">adresse</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.adress }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="A">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="postcodezip">Code postal</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.postalCode }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="towncity">Ville</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.city }}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone">Téléphone</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.phone }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="emailaddress">Email</label>
                                    <input type="text" class="form-control" placeholder="" value="{{ app.user.email }}">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group mt-4">
                                    <div class="radio">
                                        <label class="mr-3"><input type="radio" name="optradio"> Créer un compte
                                        </label>
                                        <label><input type="radio" name="optradio"> Envoyer à une adresse
                                            différente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form><!-- END -->
                </div>
                <div class="col-xl-5">
                    <div class="row mt-5 pt-3">
                        <div class="col-md-12 d-flex mb-5">
                            <div class="cart-detail cart-total p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Montant du panier</h3>
                                <p class="d-flex">
                                    <span>Sous-total</span>
                                    <span>20.60€</span>
                                </p>
                                <p class="d-flex">
                                    <span>Livraison</span>
                                    <span>0.00€</span>
                                </p>
                                <p class="d-flex">
                                    <span>Remise</span>
                                    <span>3.00€</span>
                                </p>
                                <hr>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span>17.60€</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart-detail p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Mode de paiment</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio" class="mr-2"> Carte
                                                bancaire</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="optradio" class="mr-2"> Paypal</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" class="mr-2"> J'ai lu et j'accepte
                                                les termes et conditions</label>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="{{ path('cart_payment') }}" class="btn btn-primary py-3 px-4">Commander</a></p>
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->

    {{ include("include/_newsletter.html.twig") }}
{% endblock %}
