{% extends 'base.html.twig' %}

{% block title %}{{parent()}} | profil{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Mon espace client</h1>
                </div>
            </div>
        </div>
    </div>

                                          <!--------------------
                                                      Menu
                                          ----------------------->

    <section id="selection" class="section-bg mx-3">
        <div class="row">
            <div class="col-xl-4">
                <ul id="selection-flters">
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12 filter-active one" data-filter=".filter-perso">Mes informations personnelles</li>
                  <!--  <li class="my-2 col-md-6 col-lg-4 col-xl-12" data-filter=".filter-password">Mon mot de passe</li>-->
                 <!--   <li class="my-2 col-md-6 col-lg-4 col-xl-12" data-filter=".filter-address">Mon carnets d'adresses</li>-->
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12" data-filter=".filter-orderList">Mes commandes</li>
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12" data-filter=".filter-order">Ma dernière commande</li>
                    <a href="{{ path('shop') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12 ">Retourner à la boutique</li>
                    </a>
                    <form method="post"
                          action="{{ path('client_delete', {'id': client.id}) }}"
                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre compte');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ client.id) }}">
                        <button class="btn btn-outline-danger m-2" style="border:none;">supprimer mon compte</button>
                    </form>
                </ul>
            </div>


            <!--------------------

           Infos perso

            ----------------------->
            <div class="row selection-container col-xl-8">
                <div id="perso" class="col selection-item filter-perso ">
                    <hr />
                    <h3>Mes informations personnelles</h3>
                    <hr />
                    {{ form_start(clientForm) }}
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(clientForm.lastname) }}</span>
                        <span class="col-md-6">    {{ form_row(clientForm.firstname) }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-6">    {{ form_row(clientForm.username) }}</span>
                        <span class="col-md-6">    {{ form_row(clientForm.civility) }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(clientForm.email) }}</span>

                        <span class="col-md-6">    {{ form_row(clientForm.phone) }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(clientForm.email) }}</span>

                        <span class="col-md-6">    {{ form_row(clientForm.phone) }}</span>
                    </div>
                    <div class="row">
                        <span class="col">    {{ form_row(clientForm.adress) }}</span>
                    </div>


                    <div class="row">
                        <span class="col-md-4">    {{ form_row(clientForm.postalCode) }}</span>

                        <span class="col-md-8">    {{ form_row(clientForm.city) }}</span>
                    </div>

                    <div class="row">
                        <span class="col">    {{ form_row(clientForm.password) }}</span>
                    </div>

                    {{ form_rest(clientForm) }}

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </div>

                    {{ form_end(clientForm) }}
                </div>



                <!--------------------

                Mes commandes

                ----------------------->


                <div class="col-md-12 selection-item filter-orderList">
                    <hr />
                    <h3>Mes commandes</h3>
                    <hr />

                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th class="d-none d-sm-block">N° de commande</th>
                                <th>Date</th>
                                <th>Suivi</th>
                                <th>Montant</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <p>123456789</p>
                                </td>

                                <td class="price">
                                    <h3>09/04/2020</h3>
                                </td>

                                <td class="quantity">
                                    <p>retiré</p>
                                </td>

                                <td class="product-name">
                                    <h3>75€</h3>
                                </td>
                                <td class="total">
                                    <button class="btn btn-primary my-2">Imprimé la facture</button>
                                </td>
                            </tr><!-- END TR-->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!--------------------

                Ma dernière commande


                ----------------------->


                <div class="col-md-12 selection-item filter-order">
                    <hr />
                    <h3>Ma dernière commande</h3>
                    <hr />
                    <div class="d-flex justify-content-between mx-2">
                        <h6>Commande n° : 123456</h6>
                        <h6>Passé le : 09/04/2020 </h6>
                        <h6> Retiré le : 10/04/2020 </h6>
                    </div>
                    <div class="cart-list">
                        <table class="table">
                            <thead class="thead-primary">
                            <tr class="text-center">
                                <th class="d-none d-sm-block">Image</th>
                                <th>Produit</th>
                                <th>Prix</th>
                                <th>Quantité</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <div class="img" style="background-image:url({{ asset('images/product-1.jpg') }});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Poivron</h3>
                                </td>
                                <td class="price">
                                    <h3>3.50€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>3.50€</h3>
                                </td>
                            </tr><!-- END TR-->

                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <div class="img " style="background-image:url({{ asset('images/product-2.jpg') }});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Fraise</h3>
                                </td>
                                <td class="price">
                                    <h3>4.60€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>4.60€</h3>
                                </td>
                            </tr><!-- END TR-->

                            <tr class="text-center">
                                <td class="image-prod d-none d-sm-block">
                                    <div class="img " style="background-image:url({{ asset('images/product-3.jpg') }});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Haricot vert</h3>
                                </td>
                                <td class="price">
                                    <h3>5.70€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>5.70€</h3>
                                </td>
                            </tr><!-- END TR-->

                            <tr class="text-center">
                                <td class="image-prod w100 d-none d-sm-block">
                                    <div class="img " style="background-image:url({{ asset('images/product-4.jpg') }});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Choux rouge</h3>
                                </td>
                                <td class="price">
                                    <h3>15.70€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>15.70€</h3>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod d-none d-sm-block">
                                    <div class="img " style="background-image:url({{ asset('images/product-5.jpg') }});"></div>
                                </td>
                                <td class="product-name">
                                    <h3>Tomate</h3>
                                </td>
                                <td class="price">
                                    <h3>7.80€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>7.80€</h3>
                                </td>
                            </tr><!-- END TR-->
                            <tr class="text-center">
                                <td class="image-prod  d-none d-sm-block">
                                    <div class="img " style="background-image:url({{ asset('images/product-6.jpg') }});"></div>
                                </td>

                                <td class="product-name">
                                    <h3>Brocolli</h3>
                                </td>
                                <td class="price">
                                    <h3>10.00€</h3>
                                </td>
                                <td class="quantity">
                                    <p>1</p>
                                </td>
                                <td class="total">
                                    <h3>10.00€</h3>
                                </td>
                            </tr><!-- END TR-->
                            </tbody>
                        </table>
                    </div>
                    <hr />
                    <div class="col-lg-12 cart-wrap ">
                        <div class="total-user mb-3">
                            <h3>Montant de la commande</h3>
                            <p class="d-flex">
                                <span>Sous-total</span>
                                <span>47.3€</span>
                            </p>
                            <p class="d-flex">
                                <span>Livraison</span>
                                <span>5.00€</span>
                            </p>
                            <p class="d-flex">
                                <span>Remise</span>
                                <span>3.00€</span>
                            </p>
                            <hr>
                            <p class="d-flex total-price">
                                <span>Total</span>
                                <span>49.3€</span>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ path('cart') }}" class="btn btn-primary py-3 px-4 mx-2">Modifier cette commande</a>
                            <a href="{{ path('checkout') }}" class="btn btn-primary py-3 px-4  mx-2">Passer cette commande</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #selection -->


    <!-- section beige -->

    <section class="ftco-section ftco-no-pt ftco-no-pb mt-5 py-5 bg-light">
        <div class="container py-4">
            <div class="row d-flex justify-content-center py-5">
            </div>
        </div>
    </section>

    <!-- fin section beige -->

{% endblock %}
