{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | profil{% endblock %}

{% block main %}
    <div class="hero-wrap hero-bread" style="background-image: url({{ asset('images/bg_1.jpg') }});">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="jumbotron-title">Mon espace producteur</h1>
                </div>
            </div>
        </div>
    </div>

    <!--------------------

           Menu

            ----------------------->

    <section id="selection" class="section-bg mx-3">
        <div class="row">
            <div class="col-xl-4">
                <ul id="selection-flters">
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12 filter-active one" data-filter=".filter-product">Mes
                        Produits
                    </li>
                    <li class="my-2 col-md-6 col-lg-4 col-xl-12 " data-filter=".filter-perso">Mes informations
                        personnelles
                    </li>
                    <a href="{{ path('image_producteur') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Ajouter une image</li>
                    </a>
                    <a href="{{ path('contact') }}">
                        <li class="my-2 col-md-6 col-lg-4 col-xl-12">Contacter l'administrateur</li>
                    </a>
                    <form method="post"
                          action="{{ path('producteur_delete', {'id': producteur.id}) }}"
                          onsubmit="return confirm('Etes-vous sur de vouloir supprimer votre compte');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token"
                               value="{{ csrf_token('delete' ~ producteur.id) }}">
                        <button class="btn btn-outline-danger m-2" style="border:none;">supprimer mon compte</button>
                    </form>

                </ul>
            </div>
            <div class="row selection-container col-xl-8">


                <!--------------------

                         Ajout image

                           ----------------------->


                <!--------------------

                  Infos perso

                   ----------------------->

                <div id="perso" class="col selection-item filter-perso ">
                    <hr/>
                    <h3 class="text-center">Mes informations personnelles</h3>
                    <hr/>
                    {{ form_start(producteurForm) }}
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.civility) }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.lastname) }}</span>
                        <span class="col-md-6">    {{ form_row(producteurForm.firstname) }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.username) }}</span>
                        <span class="col-md-6">    {{ form_row(producteurForm.company) }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.siret) }}</span>
                        <span class="col-md-6">    {{ form_row(producteurForm.kBis) }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.email) }}</span>

                        <span class="col-md-6">    {{ form_row(producteurForm.phone) }}</span>
                    </div>
                    <div class="row">
                        <span class="col-md-6">    {{ form_row(producteurForm.email) }}</span>

                        <span class="col-md-6">    {{ form_row(producteurForm.phone) }}</span>
                    </div>
                    <div class="row">
                        <span class="col">    {{ form_row(producteurForm.adress) }}</span>
                    </div>

                    <div class="row">
                        <span class="col-md-4">    {{ form_row(producteurForm.postalCode) }}</span>

                        <span class="col-md-8">    {{ form_row(producteurForm.city) }}</span>
                    </div>

                    <div class="row">
                        <span class="col">    {{ form_row(producteurForm.password) }}</span>
                    </div>
                    {{ form_rest(producteurForm) }}
                    <div class="d-flex justify-content-end">


                        <button type="submit" class="btn btn-primary">Modifier Le Profil</button>
                    </div>
                    {{ form_end(producteurForm) }}
                </div>
                <p style="display: none">Selected: <strong id="address-value">none</strong></p>


                <!--------------------------------

                       Ajout produit

             ----------------------------------->


                <div class="col selection-item filter-product ">
                    <hr/>
                    <h3 class="text-center">Mes produits</h3>
                    <hr/>

                    <a href="{{ path('produit_add') }}" class="btn btn-primary"> Ajouter un produit
                    </a>
                    <!--------------------------------

                                 Produits

                    ----------------------------------->
                    <section class="container mt-5">
                        <div class="row">
                            {% for produit in produits %}
                                <div class=" col-6 col-md-4 col-lg-3">

                                    <div class="product bordure ">
                                        {% if produit.FeaturedImage != null %}
                                            <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                                        class="img-fluid"
                                                        src="{{ vich_uploader_asset(produit, 'imageFile')| imagine_filter('carre') }}"
                                                        alt="{{ produit.title }}">
                                                <span class="status"><i class="ion-ios-add"></i></span>
                                                <div class="overlay"></div>
                                            </a>
                                        {% else %}
                                            <a href="{{ path('shop_detail', {id: produit.id} ) }}" class="img-prod"><img
                                                        class="img-fluid"
                                                        src="{{ asset('images/Logo-produit.png') }}"
                                                        alt="Image du produit">
                                                <span class="status"><i class="ion-ios-add"></i></span>
                                                <div class="overlay"></div>
                                            </a>
                                        {% endif %}
                                        <div class="text py-3 pb-4 px-3">
                                            <h3><a href="#">{{ produit.title }}</a></h3>
                                            <h3><a href="#"> Stock : {{ produit.stock }} {{ produit.unite }}</a></h3>
                                            <div class="d-flex">
                                                <div class="pricing">
                                                    <p class="price"><span
                                                                class="price-sale">Prix : {{ produit.price }}€</span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="bottom-area d-flex px-3">
                                                <div class="m-auto d-flex justify-content-around">

                                                    <a href="{{ path('produit_edit', {'id': produit.id}) }}"
                                                       class="add-to-cart d-flex justify-content-center align-items-center text-center mr-2">
                                                        <span data-toggle="tooltip" title="Modifier"><i
                                                                    class="ion-ios-create"></i></span>
                                                    </a>
                                                    <a href=""
                                                       class="buy-now d-flex justify-content-center align-items-center supression">
                                                        <form method="post"
                                                              action="{{ path('produit_delete', {'id': produit.id}) }}"
                                                              onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce produit');">
                                                            <input type="hidden" name="_method" value="DELETE">
                                                            <input type="hidden" name="_token"
                                                                   value="{{ csrf_token('delete' ~ produit.id) }}">
                                                            <button class="btn">    <span data-toggle="tooltip"
                                                                                          title="Supprimer"><i
                                                                            class="ion-ios-trash"></i></span></button>
                                                        </form>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section> <!-- Fin produits -->

                </div>
            </div>
        </div>
    </section><!-- #selection -->




{% endblock %}
